.body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0eded;
}

.bg-primary {
  background-color: #0ea516 !important;
}

.bg-secondary {
  background-color: #ffab10 !important;
}

.text-primary {
  color: #0ea516 !important;
}

.text-secondary {
  color: #ffab10 !important;
}

.border-primary {
  border-color: #0ea516 !important;
}

.link {
  transition: 0.2s;
}

.nav-link {
  padding: 3px;
  margin: 2px;
}

.nav-link:hover {
  background-color: #0ea516;
  color: #000000 !important;
}
