.text-secondary {
  color: #c21164 !important;
}

section {
  min-height: 100px;
}

body {
  background: linear-gradient(
    15deg,
    #ffffff 0%,
    #bde7ff 25%,
    #ffffff 50%,
    #bde7ff 75%,
    #ffffff 100%
  );
}
