.text-secondary {
  color: #99051d !important;
}

.bg-secondary {
  background: #99051d !important;
}
section {
  min-height: 100px;
}

body {
  background: linear-gradient(
    15deg,
    #ffffff 0%,
    #bde7ff 25%,
    #ffffff 50%,
    #bde7ff 75%,
    #ffffff 100%
  );
}

.menu {
  top: 20px;
  left: -250px;
  transition: 0.5s;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(9, 24, 46, 0.473);
}

.nav-link:hover {
  background: #b6253e !important;
}

.open-menu {
  position: absolute;
  top: 20px;
  left: 0;
  width: 40px;
  cursor: pointer;
  transition: 0.5s;
}

.open-menu:hover {
  background: #b6253e !important;
}
