@keyframes author-animation {
  0% {
    background-color: white;
  }
  50% {
    background-color: #0479a7;
  }
}

.author__logo-image {
  width: 35px;
  margin: 10px;
  background-color: white;
  animation: author-animation 2s infinite linear;
  transition: 0.2s;
}
